.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: opacity 0.3s;
  }
  
  .scroll-to-top button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #bd49a4;
    color: #fff;
    border: none;
    border-radius: 20%;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;
  }
  
  .scroll-to-top button:hover {
    background-color: #bd49a4;
  }
  
  .scroll-to-top.hide {
    opacity: 0;
    pointer-events: none;
  }
  